name: Deploy

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: "The type of the release version."
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
      increment:
        description: "Whether to increment the version before release."
        type: boolean
        default: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Update Version
        id: update-version
        run: |
          output=$(python scripts/update_version.py ${{ inputs.version_type }} ${{ inputs.increment }})
          echo "VERSION=$output" >> $GITHUB_OUTPUT

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Bump version"
          file_pattern: "autopep695/*.py"

      - name: Upload to PyPI
        env:
          FLIT_USERNAME: ${{ secrets.FLIT_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.FLIT_PASSWORD }}
        run: |
          pip install ".[dev.release]"
          flit publish